@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{//model CreateItemModel
}
@model ItemsListViewModel


<div class="row justify-content-center">
    <div class="row" style="width: 75%" ;>
        <div class="col-6">


            <form method="post" enctype="multipart/form-data" asp-action="createItem">
                <div asp-validation-summary="All" class="text-danger">

                    <div class="form-group">
                        <label asp-for="ItemModel.Item.itemName"></label>
                        <input asp-for="ItemModel.Item.itemName" class="form-control" />
                        <span asp-validation-for="ItemModel.Item.itemName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ItemModel.Item.Desc"></label>
                        <input asp-for="ItemModel.Item.Desc" class="form-control" />
                        <span asp-validation-for="ItemModel.Item.Desc" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ItemModel.Image"></label>
                        <input type="file" asp-for="ItemModel.Image" class="form-control" />
                        <span asp-validation-for="ItemModel.Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ItemModel.Item.price"></label>
                        <input asp-for="ItemModel.Item.price" class="form-control" />
                        <span asp-validation-for="ItemModel.Item.price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <select asp-for="currCategory" asp-items="@(new SelectList(Model.AllCat, "id", "categoryName"))">
                            
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
</form>
            }


        </div>


    </div>
</div>


