@model AkiraShop2.Data.ApplicationUser

@{
    ViewData["Title"] = "Изменить информацию о пользователе";
}

<h3>Изменить информацию о пользователе</h3>
<hr />
<div class="row">
    <div class="col-6">
        @if (ViewBag.ChangesSaved == 1)
        {
            <div style="display:block; padding: 20px 20px; background-color:lightgreen; border-radius: 8px">
                <h4>Изменения успешно сохранены!</h4>
            </div>
        }
        <form asp-action="EditPersonalInformation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button action="EditPersonalInformation" class="btn buy_button" type="submit" name="returnUrl" value="@ViewBag.returnUrl">Сохранить</button>
            </div>
        </form>
    </div>
</div>
