@model IEnumerable<AkiraShop2.Entities.Category>
@{
    ViewData["Title"] = "Выберите категорию";
}

<div class="text-center">
    <h1>Категории</h1>

    <div class="row justify-content-center">
        @foreach (var category in Model)
        {
            <div class="col-3 category_div ">
                <a href="/Shop/List/@category.Id"></a>
                <img src="~/uploads/Category/@category.Image" width="200" height="200" alt="Image not found ;(" />
                <h2>@category.Title</h2>
            </div>

        }
    </div>

</div>

<div class="modal fade" id="UserLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginModel()">
</div>

<div class="modal fade" id="UserRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegistrationModel()">
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}
