.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


header {
    background-color: #f6f6f6;
}
body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}





.aside {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    order: 1;
    background-color: #e2f2bf;
    height: 100%
}

.main {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: 2;
    background-color: #f6defe;
    height: 100%
}

.items{
    display:block;
    margin-top: 5%;

}
