@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AkiraShop2.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin"))
{
    <li class="nav-item dropdown show">
        <a class="brn dropdown-toggle nav-link" href="#" data-toggle="dropdown"> Администрирование </a>
        <div class="dropdown-menu">

            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Категории</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturer" asp-action="Index">Производители</a>

        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Order" asp-action="FormedOrders">Оплаченные заказы</a>
    </li>
}