@using Microsoft.AspNetCore.Identity
@using AkiraShop2.Data 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Shop" asp-controller="Cart" asp-action="Index">Корзина и избранное</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Shop" asp-controller="Orders" asp-action="Index">Заказы</a>
        </li>
        <li class="nav-item">
            <!--<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравствуйте, @SignInManager.UserManager.GetUserAsync(User).Result.FirstName!</a>-->
            <a class="nav-link text-dark"  asp-controller="UserAuth" asp-action="ChangeProfile">Здравствуйте, @SignInManager.UserManager.GetUserAsync(User).Result.FirstName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" data-toggle="modal" data-target="#UserRegistrationModal">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" data-toggle="modal" data-target="#UserLoginModal">Войти</a>
        </li>
    }
</ul>
